#main {
  padding: 0 8vw 0 8vw;
}

#char-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0.25rem 1rem hsl(0, 0%, 88.6%);
}
#char-card-desc:hover {
  transform: scale(1.02);
  box-shadow: 0 0.25rem 1rem hsl(0, 0%, 88.6%);
}

#img-desc {
  width: 515px;
  height: 250px;
}

#header-desc {
  background: url(https://pausadrammatica.files.wordpress.com/2015/09/marvel-new-logo-gif.gif);
  background-size: cover;
  background-position: center;
}

#col-card {
  display: flex;
  justify-content: space-between;
}
